

.searchBox::-webkit-scrollbar{
    width: 0.5625em;
    background-color: lightgray;
    border-radius: 0.3125em;
    padding-right: 0.3125em;
}
.searchBox::-webkit-scrollbar-thumb{
    background-color: grey;
    border-radius: 0.5625em;
}
.searchBox{
    height: 37.5em;
    width: 28.125em;
    border: 0.3125em solid black;
    padding: 1.25em;
    margin: 1.5625em 0em 0em 2.5em;
    float: left;
    position: relative;
    overflow-y: scroll;
    border-radius:0.625em;
}

.searchBar input[type=text]{
    margin: 0em 0em 0em 2.8125em;
    width: 9.375em;
}
.wluBuildingsItems > p{
    font-size: 0.5625em;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/*
    WORK ON .FOOTER IN MAKING IT HAVE MULTIPLE PAGES: 
    maybe not a div?
*/
.mapboxgl-popup{
    max-width: 25em;
    font: 0.75em/1.25em 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
.footer{
    padding-top: 3.125em;
    border: 0.3125em solid green;
    float: right;
}


#mapBox{
    border: 0.3125em solid black;
    border-radius: 0.9375em;
    width: 100em;
    height: 51.554em;
    padding: 1.25em;
    margin: 1.5625em 2.5em;
    float: right;
}

#mapImage{
    border-radius: 0.9375em;
}
#wluBuildingWrapper{
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    position: relative;
}
#wluBuildingsItemsContainer{
    position: relative;
    display: grid;
    right: 1.125em;
    
}

